/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* custom css begins here */

body {
  font-family: 'Radio Canada', sans-serif;
  color: hsl(210, 29%, 24%);
  max-width: 800px;
  margin: auto;
  padding: 0 2rem;
  display: grid;
  grid-template-rows: 15vh min-content auto 10vh;
  gap: 2rem;
  align-items: center;
}

h1, h2 {
  font-family: 'Bebas Neue', cursive;
}

#prompt_for_api {
  display: flex;
  flex-direction: column;
}

#prompt_for_api button {
  width: min-content;
  align-self: flex-end;
  margin-top: .5rem;
}

.responses {
  align-self: start;
  padding-top: 2rem;
}

.prompt_and_response {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 1rem;
  margin: 1rem 0;
  background-color: hsl(210, 29%, 90%);
  padding: 1rem;
}

.prompt_label, .response_label {
  justify-self: end;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 1rem;
}